*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
.sec{
    width: 250px;
    height: 500px;
    background-color: rgb(197, 238, 224);
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
    bottom: 20px;
    border-radius: 25px;
}
.reviewCarousel img{
    width: 250px;
    height: 250px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* padding: 10px; */
    /* position: absolute; */
}
.reviewCarousel .stars{
    margin: 10px;
    color: #f68606;
}
.reviewCarousel .review{
    margin: 10px;

}
.sec .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    bottom: 15px;
}
.prev{
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
    width: 50px;
    background-color: #f68606;
}
.next{
    padding: 5px;
    font-size: 15px;
    border-radius: 20px;
    width: 50px;
    background-color: #f68606;
}
#c2{
    display: none;
    /* color: pink; */
}
#c3{
    display: none;
}
#c4{
    display: none;
}
#c5{
    display: none;
}